// Zellij Configuration
// using the Rose Pine Moon theme to match WezTerm

theme "rose-pine-moon"

// Optional: you can customize UI and default layouts here
default_layout "default"
copy_on_select true

themes {
    rose-pine-moon {
        bg "#c4a7e7"
        fg "#e0def4"
        red "#eb6f92"
        green "#3e8fb0"
        blue "#9ccfd8"
        yellow "#f6c177"
        magenta "#c4a7e7"
        orange "#c4a7e7" // Overridden to match WezTerm's purple selection highlight
        cyan "#ea9a97"
        black "#44415a" // <-- Change this from #393552 for a brighter purple selection highlight

        white "#e0def4"
    }
}
